/*
	Theme Name: SnowFlat
	Theme URI:
	Theme Version: 1.4
	Theme Date: 2014-03-11
	Theme Author: Q2A Market
	Theme Author URI: http://www.q2amarket.com/
	Theme License: GPLv2
*/


.clearfix, .qa-q-item-clear,
.qa-nav-main-list, .qa-nav-sub,
.qa-page-links, .qa-page-links-list,
.qa-template-admin .qa-message-buttons,
.qa-q-item-avatar-meta, .qa-message-item,
.qa-q-view, .qa-part-q-view, .qa-q-view-content, .qa-q-view-buttons, .qa-part-form-q-edit,
.qa-a-list-item, .qa-a-item-buttons, .qa-a-item-content,
.qa-c-item-buttons, .qa-c-item-clear,
.qam-footer-row, .qam-qa-list-meta-box,
.qa-nav-footer-list, .qa-footer-clear {
	*zoom: 1;
}

.qa-main:after, .qa-main-wrapper:after, .qa-body-wrapper:after, .qa-sidepanel:after,
.clearfix:after, .qa-q-item-clear:after,
.qa-nav-main-list:after, .qa-nav-sub:after,
.qa-page-links:after, .qa-page-links-list:after,
.qa-template-admin .qa-message-buttons:after,
.qa-q-item-avatar-meta:after, .qa-message-item:after,
.qa-q-view:after, .qa-part-q-view:after, .qa-q-view-content:after, .qa-q-view-buttons:after, .qa-part-form-q-edit:after,
.qa-a-list-item:after, .qa-a-item-buttons:after, .qa-a-item-content:after,
.qa-c-item-buttons:after, .qa-c-item-clear:after,
.qam-footer-row:after, .qam-qa-list-meta-box:after,
.qa-nav-footer-list:after, .qa-footer-clear:after,
.qa-part-ranking:after, .qa-ranking-item:after {
	content: " ";
	display: table;
	clear: both;
}

/*------[ icon font ]------*/
@font-face {
	font-family: "fontello";
	src: url("fonts/fontello.eot?70015067") format("embedded-opentype"),
		url("fonts/fontello.eot?70015067#iefix") format("embedded-opentype"),
		url("fonts/fontello.woff?70015067") format("woff"),
		url("fonts/fontello.ttf?70015067") format("truetype"),
		url("fonts/fontello.svg?70015067#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------[ base css ]------*/
html {
	font-size: 16px;
	line-height: 1.5;
}

:-moz-placeholder {
	color: #bdc3c7;
	font-style: italic;
}

::-webkit-input-placeholder {
	color: #bdc3c7;
	font-style: italic;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #ecf0f1 !important;
	position: relative;
	font-family: "Ubuntu", "Helvetica", "Arial", "FreeSans", sans-serif;
	color: #34495e;
}
body.body-overflow {
	overflow-y: hidden !important;
	position: fixed;
}

a {
	color: #2980b9;
	text-decoration: none;
}
a:active, a:focus {
	color: #3498db;
	text-decoration: none;
	outline: 0;
}
a:visited {
	color: #2980b9;
	text-decoration: none;
}
a:hover {
	color: #3498db;
	text-decoration: underline;
}

.qa-main-heading {
	position: relative;
	margin: 0 0 5px;
	padding: 8px 52px 8px 20px;
	background: #3498db;
	color: #fff;
}
h1 {
	margin: 0;
	font-size: 1.4em;
	line-height: 1.35em;
	word-wrap: break-word;
}
h1 a {
	color: #fff;
	line-height: inherit;
	border: 0;
	text-decoration: none;
	opacity: 0.85;
}
h1 a:hover {
	border-bottom: 0;
}
h1 a:hover, h1 a:focus, h1 a:visited {
	color: #fff;
	line-height: inherit !important;
	opacity: 1;
}

h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: 0.875em;
}
h5 {
	font-size: 0.75em;
}
h6 {
	font-size: 0.625em;
}

p {
	margin: 0 0 1em 0;
}

hr {
	background-color: #bdc3c7;
	display: block;
	margin: 20px 0;
	border: none;
	height: 1px;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto !important;
}

input, textarea, select {
	font-size: 0.875em;
}

b, strong {
	font-weight: bold;
}

small {
	font-size: 0.75em;
}

table {
	border-collapse: collapse;
	max-width: 100%;
	width: 100%;
}

th, td {
	padding: 10px 0;
}

pre {
	background-color: #e0e4e5;
	border-left: 8px solid #3498db;
	margin: 1em 0;
	overflow: auto;
	padding: 0.4em 0.8em;
	width: 98%;
	font-size: 0.82em;
}
pre code {
	background-color: #d6dadb;
}

code, samp, kbd {
	color: #34495e;
	font-family: "Courier New",Courier,monospace,sans-serif;
	text-align: left;
}

blockquote {
	background-color: #e0e4e5;
	border-left: 11px solid #3498db;
	padding: 1em;
	margin: 1em 0;
	overflow-x: auto;
}
blockquote p {
	margin: 0;
	font-size: 1em;
	font-style: italic;
	color: #7f8c8d;
}

.qa-search {
	padding: 8px;
	margin-bottom: 5px;
	background: #bdc3c7;
}

.qa-search-field {
	margin: 0 -40px 0 0;
	padding: 0 40px 0 5px;
	vertical-align: bottom;
	width: 100%;
	height: 36px;
	border: 1px solid #117964;
}
.qa-search-field:focus {
	border-color: #e6e6e6;
}

.qa-search-button {
	width: 36px;
	height: 36px;
	margin: 0 !important;
	text-indent: -9999px;
	background: #bdc3c7 url('images/search-icon-white.png') center no-repeat;
	border: none;
	outline: none;
}

@media (max-width: 979px) {
	.qam-search {
		display: none;
	}
}


.qam-search.turquoise .qa-search {
	background: #1abc9c;
}
.qam-search.turquoise .qa-search-field:focus {
	border-color: #117964;
}
.qam-search.turquoise .qa-search-button {
	background-color: #117964;
}

.qam-search.the-top {
	display: none;
	margin: 0 10px 10px;
}

.qa-error, .qa-warning, .qa-success, .qa-notice {
	margin-bottom: 5px;
	padding: 10px;
	color: #fff;
}
.qa-error a, .qa-warning a, .qa-notice a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-error a:hover, .qa-warning a:hover, .qa-notice a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-error {
	background: #e74c3c;
	position: relative;
	z-index: 999;
}
.qa-warning {
	background: #f1c40f;
	position: relative;
	z-index: 999;
}
.qa-success {
	background: #27ae60;
	position: relative;
	z-index: 999;
}

.qa-notice {
	margin-bottom: 0;
	background: #d35400;
	text-align: center;
	font-size: 1em;
	line-height: 1.5em;
}


.qa-notice-close-button {
	margin: 0;
	float: right;
	width: 24px;
	height: 24px;
	display: block;
	background: transparent url('images/icons/close-black.png') no-repeat center;
	text-indent: -9999px;
	border: none;
	outline: none;
	transition: background-image 0.5s;
}
.qa-notice-close-button:hover, .qa-notice-close-button:focus {
	background: transparent url('images/icons/close-red.png'); /* override generic input styles */
	outline: none;
	border: none;
}

/*------[ main nav css ]------*/
@media (max-width: 767px) {
	.qa-template-questions.qam-body-fixed, .qa-template-unanswered.qam-body-fixed, .qa-template-user.qam-body-fixed,
	.qa-template-account.qam-body-fixed, .qa-template-messages.qam-body-fixed, .qa-template-favorites.qam-body-fixed,
	[class^="qa-template-user-"].qam-body-fixed, [class*="qa-template-user-"].qam-body-fixed {
		padding-top: 118px;
	}
}
@media (min-width: 768px) {
	.qa-template-questions.qam-body-fixed, .qa-template-unanswered.qam-body-fixed, .qa-template-user.qam-body-fixed,
	.qa-template-account.qam-body-fixed, .qa-template-messages.qam-body-fixed, .qa-template-favorites.qam-body-fixed,
	[class^="qa-template-user-"].qam-body-fixed, [class*="qa-template-user-"].qam-body-fixed {
		padding-top: 105px;
	}
}
@media (max-width: 979px) {
	.qa-template-user.qam-body-fixed, .qa-template-account.qam-body-fixed, .qa-template-favorites.qam-body-fixed,
	[class^="qa-template-user-"].qam-body-fixed, [class*="qa-template-user-"].qam-body-fixed {
		padding-top: 142px;
	}

	.qam-body-fixed {
		padding-top: 70px;
	}
	.qa-template-messages.qam-body-fixed {
		padding-top: 95px;
	}
	.qa-template-admin.qam-body-fixed {
		padding-top: 240px;
	}
}
@media (min-width: 980px) {
	.qam-body-fixed {
		padding-top: 80px;
	}
	.qa-template-admin.qam-body-fixed {
		padding-top: 105px;
	}
}

#qam-topbar {
	font-size: 0.875em;
}
#qam-topbar.fixed {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: auto;
	z-index: 99990;
}

.qam-main-nav-wrapper {
	background: #2c3e50;
	color: #bdc3c7;
	padding: 10px;
}

.qam-main-nav-wrapper a {
	color: #fff;
}

.qam-menu-toggle {
	display: none;
}

@media (max-width: 979px) {
	.qam-main-nav-wrapper {
		position: relative;
	}

	.qam-menu-toggle {
		display: block; /* turn on menu icon */
		float: left;
		margin: 0 10px 0 0;
		font-size: 34px;
	}
	.qam-menu-toggle.current {
		color: #fff;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
	}
	.qam-menu-toggle .icon-th-list {
		display: block;
		margin-top: 7px;
	}
}

.qa-logo {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	margin: 0 1px 0 0;
}
.qa-logo img {
	max-height: 49px;
	width: auto;
}

.qa-logo-link {
	line-height: 49px;
	display: block;
}

.qa-logo-link:hover {
	text-decoration: none;
}

@media (max-width: 767px) {
	.qa-nav-main {
		width: 100% !important;
	}
}
@media (max-width: 979px) {
	.qa-nav-main {
		width: 30%;
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		z-index: 1090;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.15);
	}
}
@media (min-width: 980px) {
	.qa-logo-link {
		background: #34495e;
		padding: 5px 15px;
	}
	.qa-logo-link:hover {
		background: #445f7a;
	}

	.qa-nav-main {
		vertical-align: top;
		display: inline-block;
	}

	.qa-nav-main-item {
		float: left;
		margin: 0 1px;
	}
	.qa-nav-main-item-opp {
		float: right;
		margin: 0 1px;
	}
	.qa-nav-main-item-opp:last-child {
		margin: 0 0 0 50px;
	}
}

.qa-nav-main-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qa-nav-main-activity .qa-nav-main-link:before {
	content: '\e804';
}

.qa-nav-main-questions .qa-nav-main-link:before {
	content: '\e80b';
}

.qa-nav-main-hot .qa-nav-main-link {
	color: #f39c12;
}
.qa-nav-main-hot .qa-nav-main-link:before {
	content: '\e805';
}
.qa-nav-main-hot .qa-nav-main-link.qa-nav-main-selected {
	color: #f5b043;
}

.qa-nav-main-unanswered .qa-nav-main-link:before {
	content: '\e80c';
}

.qa-nav-main-tag .qa-nav-main-link:before {
	content: '\e806';
}

.qa-nav-main-categories .qa-nav-main-link:before {
	content: '\e808';
}

.qa-nav-main-user .qa-nav-main-link:before {
	content: '\e809';
}

/*
.qa-nav-main-ask .qa-nav-main-link {
	color: #2ecc71;
}
*/

.qa-nav-main-ask .qa-nav-main-link:before {
	content: '⨁';  /* '\e801'; ➕⊕*/
	color:white;
	/*
	font-size: 1.3em;
    font-weight: bold;
	*/
}

/*
.qa-nav-main-ask .qa-nav-main-link.qa-nav-main-selected {
	color: #54d98c;
}
*/

/* --- Ivo (start) --- */
/*
.qa-nav-main-info .qa-nav-main-link {
	color: #2ecc71;
}*/

.qa-nav-main-info .qa-nav-main-link:before {
	content: '\e801';
}
.qa-nav-main-info .qa-nav-main-link.qa-nav-main-selected {
	color: #54d98c;
}

/* --- Ivo (end)--- */

.qa-nav-main-admin .qa-nav-main-link:before {
	content: '\e80a';
}

.qa-nav-main- .qa-nav-main-link:before {
	content: '\e80d';
}

.qa-nav-main-link {
	background-color: #34495e;
	display: block;
	line-height: normal;
	min-width: 60px;
	width: auto;
	height: auto;
}
.qa-nav-main-link:hover {
	text-decoration: none;
	background: #445f7a;
}
.qa-nav-main-link:before {
	font-family: "fontello";
	font-size: 24px;
	content: '\e80d';
}

@media (max-width: 979px) {
	.qa-nav-main-link {
		padding: 5px 10px;
	}
	.qa-nav-main-link:before {
		display: inline-block;
		width: 24px;
		margin: 0 15px 0 0;
	}
}
@media (min-width: 980px) {
	.qa-nav-main-link {
		padding: 5px;
		text-align: center;
	}
	.qa-nav-main-link:before {
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}
}
.qa-nav-main-link.qa-nav-main-selected {
	background: #3498db;
}

.qa-nav-sub {
	background-color: #e0e4e5;
	text-align: center;
	font-size: 12px;
}
.qa-nav-sub-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 979px) {
	.qa-nav-sub-list {
		*zoom: 1;
	}
	.qa-nav-sub-list:before, .qa-nav-sub-list:after {
		content: "";
		display: table;
	}
	.qa-nav-sub-list:after {
		clear: both;
	}

	.qa-nav-sub-item {
		width: 33.33%;
		float: left;
		box-shadow: -1px -1px 0 0 #cfd9db inset;
	}
	.qa-nav-sub-item:nth-child(3) {
		box-shadow: 0 -1px 0 0 #cfd9db inset;
	}
}
@media (min-width: 980px) {
	.qa-nav-sub {
		font-size: 13px;
		padding: 0 6px;
	}
	.qa-nav-sub-item {
		display: inline-block;
	}
}

.qa-nav-sub-link, .qa-nav-sub-link:visited, .qa-nav-sub-link:hover {
	display: block;
	padding: 2px 10px 4px;
	color: #000;
}
.qa-nav-sub-link.qa-nav-sub-selected, .qa-nav-sub-link:visited.qa-nav-sub-selected, .qa-nav-sub-link:hover.qa-nav-sub-selected {
	background-color: #3498db;
	color: #fff;
}

.qam-account-items-wrapper {
	float: right;
	position: relative;
}

#qam-account-toggle {
	display: block;
	cursor: pointer;
	min-width: 60px;
	min-height: 55px;
	max-width: 80px;
	padding: 2px;
	background-color: #34495e;
	text-align: center;
}
#qam-account-toggle:hover {
	background: #445f7a;
}
#qam-account-toggle .qam-auth-key {
	font-size: 28px;
}
#qam-account-toggle .qam-auth-key:before {
	display: inline-block;
}

.qam-account-items {
	background-color: #34495e;
	display: none;
	position: absolute;
	right: 0;
	top: 60px;
	width: 230px;
	padding: 10px;
	z-index: 1100;
}
.qam-account-items input[type="text"], .qam-account-items input[type="password"] {
	width: 100%;
}

.qam-account-handle {
	font-size: 12px;
	line-height: 1.8;
	overflow: hidden;
	text-overflow: ellipsis;
}

.qam-account-items .qa-form-tall-button-login {
	width: 100%;
}

.qa-nav-user {
	white-space: nowrap;
	margin: -10px;
}

.qa-nav-user-facebook-login, .qa-nav-user-register {
	padding: 0 !important;
}

.qa-nav-user-register .qa-nav-user-link {
	background-color: #27ae60;
	width: 100%;
	display: block;
	color: #fff;
	margin: 2px 0 0;
	padding: 5px !important;
	text-align: center;
	line-height: 20px;
	border: 1px solid #27ae60;
}
.qa-nav-user-register .qa-nav-user-link:hover {
	background-color: #2ecc71;
	border-color: #2ecc71;
	text-decoration: none;
}

.qa-nav-user-facebook-login {
	border-bottom: none !important;
}
.qa-nav-user-facebook-login .qa-nav-user-nolink {
	width: 100%;
	display: block;
	margin: 2px 0 15px;
	padding: 5px !important;
	line-height: normal;
}

.qa-logged-in {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid #2c3e50;
}
.qa-logged-in:before {
	content: '\e80e';
	font-family: "fontello";
	display: inline-block;
	width: 1em;
	background-color: #2c3e50;
	padding: 5px;
	margin: 0 10px 0 0;
	text-align: center;
	line-height: normal;
	border-radius: 1em;
}

.qam-logged-in-points {
	padding: 10px 20px;
	border-bottom: 1px solid #2c3e50;
}
.qam-logged-in-points:before {
	content: '\e810';
	font-family: "fontello";
	display: inline-block;
	width: 1em;
	background-color: #2c3e50;
	padding: 5px;
	margin: 0 10px 0 0;
	text-align: center;
	line-height: normal;
	border-radius: 1em;
}

.qa-nav-user-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qa-nav-user-item {
	padding: 0 20px;
	border-bottom: 1px solid #2c3e50;
}
.qa-nav-user-item:last-child {
	border-bottom: none;
}

.qa-nav-user-link {
	padding: 10px 0;
	display: inline-block;
}

.qa-nav-user-updates:before {
	content: '\e812';
	font-family: "fontello";
	display: inline-block;
	width: 1em;
	background-color: #2c3e50;
	padding: 5px;
	margin: 0 10px 0 0;
	text-align: center;
	line-height: normal;
	border-radius: 1em;
}

.qa-nav-user-logout:before {
	content: '\e824';
	font-family: "fontello";
	display: inline-block;
	width: 1em;
	background-color: #2c3e50;
	padding: 5px;
	margin: 0 10px 0 0;
	text-align: center;
	line-height: normal;
	border-radius: 1em;
}

.qa-logged-in:hover, .qam-logged-in-points:hover, .qa-nav-user-item:hover {
	background-color: #2c3e50;
}

.qa-nav-user-facebook-login:hover, .qa-nav-user-register:hover {
	background-color: transparent;
}

/*------[ qa content parts ]------*/

.qa-main, .qa-main-wrapper {
	*zoom: 1;
}

.qa-body-wrapper {
	margin: 10px auto;
	padding: 0 10px;
	*zoom: 1;
}

@media (min-width: 980px) {
	.qa-main {
		width: 74.5%;
		float: left;
	}
	.qam-topbar, .qa-main-wrapper {
		width: 100%;
	}
}
@media (min-width: 1044px) {
	.qa-body-wrapper {
		width: 1024px;
	}
}

.qam-title-rss {
	float: right;
	color: #ecf0f1;
	font-size: 1.4em;
}
.qam-title-rss:hover {
	color: #fff;
}
.qam-title-rss:before {
	width: auto !important;
}


.qa-q-view-content,
.qa-a-item-content,
.qa-c-item-content {
	word-wrap: break-word;
}

.qa-q-view-content table, .qa-a-item-content table, .qa-c-item-content table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	margin-bottom: 20px;
}
.qa-q-view-content tr:hover, .qa-a-item-content tr:hover, .qa-c-item-content tr:hover {
	background-color: #f4f4f4;
}
.qa-q-view-content th, .qa-a-item-content th, .qa-c-item-content th,
.qa-q-view-content td, .qa-a-item-content td, .qa-c-item-content td {
	padding: 10px;
	border: 1px solid #e0e0e0;
	text-align: left;
}
.qa-q-view-content th, .qa-a-item-content th, .qa-c-item-content th {
	background-color: #eaeaea;
	font-weight: 700;
}
.qa-q-view-content td, .qa-a-item-content td, .qa-c-item-content td {
}
.qa-q-view-content ul, .qa-a-item-content ul, .qa-c-item-content ul,
.qa-q-view-content ol, .qa-a-item-content ol, .qa-c-item-content ol {
	margin-left: 20px;
	padding: 0;
}


.qa-waiting {
	background: url('images/spinner-icon-14x14.gif?1410117644') no-repeat center;
	display: inline-block;
	font-size: 0;
	height: 14px;
	margin: 0 8px 0 4px;
	vertical-align: middle;
	width: 14px;
}

.qa-favoriting {
	position: absolute;
	right: 10px;
	top: 5px;
}
.qa-favoriting .qa-waiting {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
	padding: 0;
}

.qa-favorite-button, .qa-unfavorite-button {
	background-image: url('images/star.png');
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	margin: 0;
	border: none;
}
.qa-favorite-button:hover, .qa-unfavorite-button:hover {
	background-color: #f39c12;
	background-position: center -38px;
}

.qa-favorite-button {
	background-color: #ecf0f1;
	background-position: center top;
}

.qa-unfavorite-button {
	background-color: #f1c40f;
	background-position: center bottom;
}

/*------[ q-list ]------*/
.qa-q-list-item {
	padding: 10px;
	margin-bottom: 5px;
	background: #fff;
}
.qa-q-list-item.qa-q-favorited {
	border-left: 1px solid #8e44ad;
}

.qa-q-item-stats {
	float: left;
}
@media (max-width: 240px) {
	.qa-q-item-stats {
		float: none;
		display: none;
	}
}
.qa-template-user-activity .qa-q-item-stats {
	width: 65px;
}
.qa-template-user-answers .qa-q-item-stats {
	width: 68px;
}
@media (min-width: 241px) and (max-width: 799px) {
	.qa-template-user-activity .qa-q-item-stats {
		width: 60px;
	}
	.qa-template-user-answers .qa-q-item-stats {
		width: 60px;
	}
}

.qa-voting {
	background-color: #ecf0f1;
	color: #445f7a;
}

.qa-a-count {
	background-color: #3498db;
	color: #fff;
	text-align: center;
}

.qa-a-count-zero {
	background-color: #e74c3c;
}

.qa-a-count-selected {
	background-color: #27ae60;
}

@media (max-width: 799px) {
	.qa-voting, .qa-a-count {
		width: 60px;
		height: 60px;
		line-height: 0.5;
		display: block;
	}
}

@media (min-width: 800px) {
	.qa-voting {
		width: 68px;
		height: 60px;
		line-height: 0.5;
		float: left;
	}

	.qa-a-count {
		width: 65px;
		height: 60px;
		line-height: 0.5;
		float: left;
	}
}

.qa-netvote-count-data, .qa-a-count-data {
	font-size: 24px;
	line-height: 40px;
	display: block;
	white-space: nowrap;
}

.qa-netvote-count-pad, .qa-a-count-pad {
	font-size: 12px;
}

.qa-netvote-count {
	display: block;
	text-align: center;
}


/* separate vote buttons counter */
.qa-vote-count-updown {
	line-height: 1.5;
}

.qa-upvote-count,
.qa-downvote-count {
	text-align: center;
	display: block;
}

.qa-upvote-count-data,
.qa-downvote-count-data {
	display: block;
	margin-top: 2px;
	font-size: 18px;
	font-weight: 700;
}

.qa-upvote-count-pad,
.qa-downvote-count-pad {
	display: none;
}


.qa-vote-buttons {
	float: left;
	height: 60px;
	width: 20px;
	position: relative;
}

.qa-vote-up-button, .qa-vote-down-button, .qa-voted-up-button,
.qa-voted-down-button, .qa-vote-up-disabled, .qa-vote-down-disabled {
	text-indent: -9999px;
	background: transparent url('images/vote-buttons-3.png') no-repeat;
	width: 16px;
	height: 10px;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 4px;
}
.qa-vote-up-button:hover, .qa-vote-up-button:focus, .qa-vote-up-button:active,
.qa-vote-down-button:hover, .qa-vote-down-button:focus, .qa-vote-down-button:active,
.qa-voted-up-button:hover, .qa-voted-up-button:focus, .qa-voted-up-button:active,
.qa-voted-down-button:hover, .qa-voted-down-button:focus, .qa-voted-down-button:active,
.qa-vote-up-disabled:hover, .qa-vote-up-disabled:focus, .qa-vote-up-disabled:active,
.qa-vote-down-disabled:hover, .qa-vote-down-disabled:focus, .qa-vote-down-disabled:active {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.qa-vote-up-button {
	background-position: 0 0;
	top: 12px;
}
.qa-vote-up-button:hover,
.qa-vote-up-button:focus,
.qa-vote-up-button:active {
	background-position: 0 -10px;
}
.qa-vote-down-button {
	background-position: -16px 0;
	bottom: 12px;
}
.qa-vote-down-button:hover,
.qa-vote-down-button:focus,
.qa-vote-down-button:active {
	background-position: -16px -10px;
}
.qa-vote-up-disabled {
	background-position: 0 -20px;
	top: 12px;
}
.qa-vote-up-disabled:hover,
.qa-vote-up-disabled:focus,
.qa-vote-up-disabled:active {
	background-position: 0 -20px;
}
.qa-vote-down-disabled {
	background-position: -16px -20px;
	bottom: 12px;
}
.qa-vote-down-disabled:hover,
.qa-vote-down-disabled:focus,
.qa-vote-down-disabled:active {
	background-position: -16px -20px;
}
.qa-voted-up-button {
	background-position: 0 -10px;
}
.qa-voted-up-button:hover,
.qa-voted-up-button:focus,
.qa-voted-up-button:active {
	background-position: 0 0;
}
.qa-voted-down-button {
	background-position: -16px -10px;
}
.qa-voted-down-button:hover,
.qa-voted-down-button:focus,
.qa-voted-down-button:active {
	background-position: -16px 0;
}

.qa-vote-one-button {
	top: 25px;
}

.qa-q-item-main {
	float: left;
	padding-left: 10px;
}
@media (max-width: 240px) {
	.qa-q-item-main {
		width: 100%;
		float: none;
		padding-left: 0;
	}
}
@media (min-width: 320px) {
	.qa-q-item-main {
		width: 210px;
	}
}
@media (min-width: 360px) {
	.qa-q-item-main {
		width: 250px;
	}
}
@media (min-width: 480px) {
	.qa-q-item-main {
		width: 364px;
	}
}
@media (min-width: 568px) {
	.qa-q-item-main {
		width: 452px;
	}
}
@media (min-width: 600px) {
	.qa-q-item-main {
		width: 484px;
	}
}
@media (min-width: 768px) {
	.qa-q-item-main {
		width: 652px;
	}
}
@media (min-width: 800px) {
	.qa-q-item-main {
		width: 611px;
	}
}
@media (min-width: 980px) {
	.qa-q-item-main {
		width: 550px;
	}
}
@media (min-width: 1044px) {
	.qa-q-item-main {
		width: 592px;
	}
}

.qa-q-item-title {
	font-weight: bold;
	font-size: 1.125em;
	line-height: 1.35em;
	display: block;
	word-wrap: break-word;
}
.qa-q-item-title a {
	color: #1a6a9b;
}
.qa-q-item-title a:hover, .qa-q-item-title a:active, .qa-q-item-title a:focus, .qa-q-item-title a:visited {
	color: #3498db;
}
.qa-q-item-title:hover .qam-q-list-close-icon {
	background-color: #c0392b;
	cursor: help;
}

.qam-q-list-close-icon {
	background-color: #34495e;
	padding: 3px;
	border-radius: 18px;
	float: left;
	margin: 5px 5px 0 0;
}

.qam-qa-list-meta-box {
	display: block;
}

.qa-q-item-avatar-meta {
	display: block;
	margin-top: 5px;
}

.qa-q-item-avatar {
	margin: 0 2px 0 0;
}
@media (max-width: 479px) {
	.qa-q-item-avatar {
		display: none;
	}
}
@media (min-width: 480px) {
	.qa-q-item-avatar {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
}

.qa-q-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}
.qa-q-item-meta .qa-category-link.qa-cat-favorited {
	position: relative;
	padding-left: 14px;
}
.qa-q-item-meta .qa-category-link.qa-cat-favorited:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 100%;
	display: block;
	content: url('images/favorite-light-icon-15x15.png');
}
.qa-q-item-meta .qa-user-link.qa-user-favorited {
	position: relative;
	padding-left: 14px;
}
.qa-q-item-meta .qa-user-link.qa-user-favorited:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 100%;
	display: block;
	content: url('images/favorite-light-icon-15x15.png');
}

.qa-q-item-when-data {
	font-weight: 700;
}

.qa-q-item-tags {
	display: block;
	margin-top: 5px;
}

.qa-q-item-tag-list, .qa-q-view-tag-list {
	line-height: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-q-item-tag-item, .qa-q-view-tag-item {
	display: inline;
}

.qa-tag-link,
.qa-widget-side .qa-q-view-tag-item {
	background: #e67e22;
	color: #fff !important;
	display: inline-block;
	font-family: "Ubuntu", "Helvetica", "Arial", "FreeSans", sans-serif;
	font-size: 11px;
	line-height: 1.5em;
	padding: 2px 8px;
	margin-bottom: 2px;
	text-decoration: none !important;
	transition: background 0.25s ease-in-out;
}
.qa-tag-link:hover,
.qa-widget-side .qa-q-view-tag-item:hover {
	background: #f39c12;
	color: #fff !important;
}
.qa-tag-link.qa-tag-favorited,
.qa-widget-side .qa-q-view-tag-item.qa-tag-favorited {
	position: relative;
	padding-left: 25px;
}
.qa-tag-link.qa-tag-favorited:before,
.qa-widget-side .qa-q-view-tag-item.qa-tag-favorited:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 100%;
	display: block;
	content: url('images/star14.png');
	background-color: #b94a00;
}

.qa-page-links-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qa-page-links-label {
	float: left;
	margin-right: 2px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #fff;
	display: block;
}

.qa-page-links-item {
	float: left;
	margin-right: 2px;
}
.qa-page-links-item a {
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #fff;
	display: block;
	text-decoration: none;
	color: #34495e;
}
.qa-page-links-item a:hover, .qa-page-links-item a:focus {
	background: #e67e22;
	color: #fff;
}

.qa-page-selected {
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #3498db;
	color: #fff;
	display: block;
}
.qa-page-selected a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-page-selected a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-page-ellipsis {
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #fff;
	display: block;
}

.qa-template-admin .qa-q-item-main {
	width: auto;
	float: none;
}
.qa-template-admin .qa-q-item-title {
	margin-bottom: 5px;
}
.qa-template-admin .qa-q-item-content {
	padding: 10px 0;
	max-height: 150px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-size: 0.75em;
	overflow-y: auto;
}
.qa-template-admin .qa-q-item-avatar-meta {
	padding: 5px;
	margin: 10px 0;
}
.qa-template-admin .qa-message-item {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}
.qa-template-admin .qa-message-content {
	font-size: 0.75em;
	line-height: 2em;
}
.qa-template-admin .qa-message-avatar-meta {
	padding: 5px 0;
	margin: 10px 0;
	display: block;
}
.qa-template-admin .qa-message-avatar-meta .qa-message-who-data a {
	padding: 3px 10px;
	margin-bottom: 5px;
	background: #e74c3c;
	color: #fff;
	display: inline-block;
}
.qa-template-admin .qa-message-avatar-meta .qa-message-who-data a a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-template-admin .qa-message-avatar-meta .qa-message-who-data a a:hover {
	color: #fff;
	border-bottom: 0;
}

/*------[ lists ]------*/
.qa-part-ranking, .qa-part-nav-list {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
	width: 100%;
}
@media (max-width: 767px) {
	.qa-part-ranking, .qa-part-nav-list {
		overflow-x: auto;
		overflow-y: hidden;
	}
}
.qa-ranking-item {
	display: inline-block;
	position: relative;
	margin: 5px;
	padding: 5px;
}

.qa-top-users-item {
	width: 100%;
	max-width: 320px;
}

.qa-top-tags-item {
	width: 100%;
	max-width: 150px;
}

@media only screen and (min-width: 992px) {
	/* two column layout for Desktops and above*/
	.qa-top-users-item {
		width: 48%;
		max-width: none;
	}

	.qa-top-tags-item {
		width: 23%;
		max-width: none;
	}
}

.qa-top-users-avatar .qa-avatar-link {
	display: block;
	float: left;
	margin-right: 1em;
}

.qa-top-users-avatar .qa-avatar-link img {
	border: 1px solid #cbd7e3;
}

.qa-top-users-label .qa-user-link {
	background-color: #e74c3c;
	display: block;
	float: left;
	color: #fff;
	padding: 2px 1em;
	position: relative;
}

.qa-top-users-label .qa-user-link:hover,
.qa-top-users-label .qa-user-link:focus {
	background-color: #eb695c;
	text-decoration: none;
}

.qa-top-users-label .qa-user-link:before {
	content: "";
	position: absolute;
	left: -5px;
	top: 30%;
	display: block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #e74c3c;
}

@media (min-width: 980px) {
	.qa-top-users-label .qa-user-link:hover:after,
	.qa-top-users-label .qa-user-link:focus:after {
		transform: translate(80px, 0);
	}

	.qa-top-users-label .qa-user-link:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -7px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 7px solid #e74c3c;
		transform: translate(0, 0);
		transition: transform 0.5s ease;
	}
}

.qa-top-users-label .qa-user-link.qa-user-favorited {
	background-image: url('images/icons/fev-star.png');
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 22px;
}

.qa-top-users-score {
	position: relative;
	float: right;
	padding: 2px 6px 2px 6px;
	background-color: #2ecc71;
	color: #fff;
}
.qa-ranking-users-points .qa-top-users-score {
	padding-left: 1.8em;
}
.qa-ranking-users-points .qa-top-users-score:before {
	content: '\e810';
	font-family: "fontello";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5em;
	height: 100%;
	background-color: #27ae60;
	text-align: center;
	line-height: 1.6em;
}

.qa-top-tags-count {
	width: 8%;
}

.qa-browse-cat-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.qa-browse-cat-list .qa-browse-cat-list {
	margin: 1em 0 0 1em;
}

.qa-browse-cat-item {
	font-size: 0.875em;
	line-height: 1.71429em;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0;
	position: relative;
}
.qa-browse-cat-item:last-child {
	border-bottom: 0 !important;
}

.qa-browse-cat-nolink, .qa-browse-cat-link,
.qa-browse-cat-link:hover, .qa-browse-cat-link:visited {
	background-color: #e74c3c;
	display: inline-block;
	color: #fff;
	padding: 2px 0.6em;
	position: relative;
}

.qa-browse-cat-nolink {
	cursor: help;
}

.qa-browse-cat-link {
	cursor: pointer;
	background-color: #c0392b;
}
.qa-browse-cat-link:hover, .qa-browse-cat-link:focus {
	text-decoration: none;
	background-color: #d34a3b;
}
.qa-browse-cat-link:before {
	content: "";
	position: absolute;
	right: -5px;
	top: 5px;
	display: block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #c0392b;
}

.qa-browse-cat-note {
	display: block;
	font-size: 0.75em;
	line-height: 2em;
}
.qa-browse-cat-note a {
	position: absolute;
	top: 5px;
	right: 5px;
	display: inline-block;
	padding: 2px 10px 2px 2em;
	background-color: #2ecc71;
	color: #fff;
}
.qa-browse-cat-note a:before {
	background-color: #27ae60;
	content: '\e801';
	font-family: "fontello";
	display: inline-block;
	text-align: center;
	width: 1.5em;
	height: 100%;
	line-height: 2.4em;
	position: absolute;
	top: 0;
	left: 0;
}
.qa-browse-cat-note a:hover {
	background-color: #48d684;
	text-decoration: none;
}
.qa-browse-cat-note.qam-cat-note {
	padding: 5px;
	margin: 10px 0 0;
	background-color: #f5f7f7;
}

.qa-part-form-plugin-options {
	margin-top: -5px !important;
	padding-top: 0 !important;
}
.qa-part-form-plugin-options h2 {
	margin: 0 0 10px 0;
	font-weight: normal;
	border-bottom: 1px solid #e0e0e0;
}

.qam-approve-users .qa-message-item {
	padding: 5px 0 0;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}
.qam-approve-users .qa-message-avatar-meta {
	float: left;
	margin: 0;
}
.qam-approve-users .qa-message-buttons {
	float: right;
}

.qa-part-form-message {
	padding: 10px 20px;
	margin-bottom: 5px;
	background: #fff;
}

.qa-message-list {
	margin-top: 10px;
}

.qa-message-item {
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	padding: 10px;
}

.qa-message-item:nth-child(even) {
	background-color: #f2f5f5;
}
.qa-message-item:last-child {
	border-bottom: none;
}

.qa-message-content {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #e0e0e0;
	word-wrap: break-word;
}

.qa-message-avatar-meta {
	display: block;
	float: left;
	margin: 0;
}

.qa-message-avatar {
	display: inline-block;
	margin-right: 4px;
	vertical-align: middle;
}

.qa-message-meta {
	color: #666;
	display: inline-block;
	font-size: 10px;
	vertical-align: middle;
}

.qa-message-buttons {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}

.qa-message-buttons .qa-form-light-button {
	padding: 0;
}




.qa-part-form-message .qam-pm-message {
	padding: 10px;
	background: #27ae60;
	color: #fff;
	margin-bottom: 0;
}
.qa-part-form-message .qam-pm-message a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-part-form-message .qam-pm-message a:hover {
	color: #fff;
	border-bottom: 0;
}
.qa-part-form-message .qam-pm-message:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	content: '\e821';
}

/*------[ forms ]------*/
input, textarea, select {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #bdc3c7;
	background-color: #fff;
	font-family: "Ubuntu", "Helvetica", "Arial", "FreeSans", sans-serif;
}
input:focus, textarea:focus, select:focus {
	background-color: #fff;
	border-color: #3498db;
	outline: 0;
}
input::-moz-focus-inner, textarea::-moz-focus-inner, select::-moz-focus-inner {
	padding: 0;
	border: 0;
	outline: 0;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

input[type="submit"], button {
	cursor: pointer;
	text-align: center;
}
@media (max-width: 479px) {
	input[type="file"] {
		max-width: 220px;
	}
}
@media (max-width: 359px) {
	input[type="file"] {
		max-width: 180px;
	}
}

[class^="qa-part-form"],
[class^="qa-part-custom"] {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}
[class^="qa-part-form"] > h2:first-child, [class^="qa-part-custom"] > h2:first-child {
	margin-top: 0;
}

.qa-form-tall-text {
	width: 100%;
}

.qa-form-tall-number, .qa-form-wide-number {
	width: 50px;
}

.qa-form-tall-note, .qa-form-wide-note {
	color: #7f8c8d;
	font-size: 0.8em;
}
.qa-form-tall-note {
	margin: 10px 0 5px;
}

.qa-form-tall-button, .qa-form-wide-button, .qa-form-basic-button {
	-webkit-appearance: none;
	padding: 10px 15px;
	border: 0;
	font-size: 14px;
	background: #3498db none;
	color: #fff;
}
.qa-form-tall-button:hover, .qa-form-tall-button:focus,
.qa-form-wide-button:hover, .qa-form-wide-button:focus,
.qa-form-basic-button:hover, .qa-form-basic-button:focus {
	border: 0;
	outline: 0;
	background-color: #4aa3df;
}
.qa-form-tall-button a, .qa-form-tall-button a:hover,
.qa-form-wide-button a, .qa-form-wide-button a:hover,
.qa-form-basic-button a, .qa-form-basic-button a:hover {
	color: #fff;
}

@media (max-width: 767px) {
	.qa-form-tall-button, .qa-form-wide-button, .qa-form-basic-button {
		width: 100%;
		display: block;
		margin-bottom: 1em !important;
	}
}

.qa-form-tall-button-save, .qa-form-wide-button-save, .qa-form-wide-button-saverecalc,
.qa-form-tall-button-ask, .qa-form-tall-button-answer {
	background: #27ae60 none;
}
.qa-form-tall-button-save:hover, .qa-form-tall-button-save:focus,
.qa-form-wide-button-save:hover, .qa-form-wide-button-save:focus,
.qa-form-wide-button-saverecalc:hover, .qa-form-wide-button-saverecalc:focus,
.qa-form-tall-button-ask:hover, .qa-form-tall-button-ask:focus,
.qa-form-tall-button-answer:hover, .qa-form-tall-button-answer:focus {
	background-color: #2ecc71;
}

.qa-form-tall-button-cancel,
.qa-form-wide-button-cancel {
	background: #e74c3c none;
}
.qa-form-tall-button-cancel:hover, .qa-form-tall-button-cancel:focus,
.qa-form-wide-button-cancel:hover, .qa-form-wide-button-cancel:focus {
	background-color: #ea6153;
}

.qa-form-wide-label, .qa-form-wide-data,
.qa-form-tall-spacer {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.qa-form-tall-label {
	padding: 5px 0 0;
}

.qa-form-tall-data {
	padding: 5px 0;
}

.qa-form-wide-label {
	padding-right: 5px;
}
.qa-form-wide-data {
	padding-left: 5px;
}
.qa-form-wide-text {
	width: 100%;
}

.qa-form-tall-ok, .qa-form-wide-ok {
	background-color: #27ae60;
	padding: 10px;
	display: table-cell;
	color: #fff;
}

.qa-form-wide-error, .qa-form-tall-error {
	color: #e74c3c;
}

.qa-form-tall-spacer {
	display: block;
	margin: 20px 0 19px 0;
	padding: 0;
	border-top: none;
	line-height: 0;
}

.qa-form-tall-help, .qa-form-wide-help {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 4px;
	border-radius: 18px;
	background-color: #3498db;
	color: #fff;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
	cursor: help;
}

.qa-ask-similar {
	background-color: #ecf0f1;
	padding: 10px;
	margin-bottom: 5px;
}

.qa-ask-similar-title {
	margin: -10px -10px 10px;
	padding: 10px;
	background: #7f8c8d;
	color: #fff;
}
.qa-ask-similar-title a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-ask-similar-title a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-q-title-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-q-title-item {
	padding: 2px 0;
	border-bottom: 1px solid #d9dcde;
}
.qa-q-title-item:last-child {
	border-bottom: none;
}

/*------[ users ]------*/
.qa-template-user .qa-main {
	width: 100%;
}
.qa-part-message-list {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}
.qa-template-user .qa-form-wide-buttons,
.qa-template-user .qa-form-tall-buttons {
	border-bottom: none;
	padding-bottom: 0;
}
.qa-template-user .qa-form-wide-label {
	min-width: 110px;
	width: auto;
}

.qa-part-form-profile .qa-form-wide-data {
	word-break: break-word;
}
.qa-part-form-profile .qa-form-tall-image {
	text-align: center;
}
.qa-part-form-profile .qa-form-wide-button-approve {
	background: #27ae60 none;
}
.qa-part-form-profile .qa-form-wide-button-approve:hover, .qa-part-form-profile .qa-form-wide-button-approve:focus {
	background-color: #2ecc71;
}
.qa-part-form-profile .qa-form-wide-button-block {
	background: #e74c3c none;
}
.qa-part-form-profile .qa-form-wide-button-block:hover, .qa-part-form-profile .qa-form-wide-button-block:focus {
	background-color: #ea6153;
}


@media (min-width: 980px) {
	.qa-template-user [class^="qa-part-form"], .qa-template-user .qa-part-message-list {
		width: 49.8%;
	}
	.qa-template-user [class^="qa-part-form"], .qa-template-user .qa-part-message-list {
		float: right;
		clear: right;
	}
	.qa-template-user .qa-part-form-profile {
		float: left;
	}
}
.qa-part-form-activity h2, .qa-part-message-list h2 {
	margin-top: 0;
}

#level .qa-form-wide-static a:first-child {
	background: #27ae60 url('images/icons/mail-white.png') no-repeat 5px center;
	padding: 2px 5px 2px 25px;
	border: 1px solid #1e8449;
	display: inline-block;
	color: #fff;
}
#level .qa-form-wide-static a:hover:first-child, #level .qa-form-wide-static a:focus:first-child {
	background-color: #2ecc71;
	background-image: url('images/icons/mail-white.png');
	border: 1px solid #25a25a;
	color: #fff;
	text-decoration: none;
}

.qa-part-form-activity .qa-uf-user-points,
.qa-part-form-activity .qa-uf-user-q-posts,
.qa-part-form-activity .qa-uf-user-a-posts,
.qa-part-form-activity .qa-uf-user-c-posts,
.qa-part-form-activity .qa-uf-user-q-votes,
.qa-part-form-activity .qa-uf-user-a-votes,
.qa-part-form-activity .qa-uf-user-upvotes,
.qa-part-form-activity .qa-uf-user-downvotes,
.qa-part-form-activity .qa-uf-user-upvoteds,
.qa-part-form-activity .qa-uf-user-downvoteds {
	font-size: 24px;
	font-weight: 700;
}
.qa-part-form-activity .qa-uf-user-points,
.qa-part-form-activity .qa-uf-user-q-posts,
.qa-part-form-activity .qa-uf-user-a-posts,
.qa-part-form-activity .qa-uf-user-c-posts,
.qa-part-form-activity .qa-uf-user-q-votes,
.qa-part-form-activity .qa-uf-user-a-votes {
	color: #3498db;
}
.qa-part-form-activity .qa-uf-user-upvotes,
.qa-part-form-activity .qa-uf-user-upvoteds {
	color: #27ae60;
}
.qa-part-form-activity .qa-uf-user-downvotes,
.qa-part-form-activity .qa-uf-user-downvoteds {
	color: #e74c3c;
}
.qa-part-form-activity .qa-form-wide-static {
	color: #7f8c8d;
	font-size: 12px;
}

/*------[ favorites ]------*/
.qa-template-favorites h2 {
	padding: 10px;
	margin-bottom: 5px;
	background: #34495e;
	color: #fff;
}
.qa-template-favorites h2 a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-template-favorites h2 a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-link-next {
	margin-bottom: 0;
}

.qa-part-q-list .qa-link-next,
.qa-part-ranking-users,
.qa-part-ranking-tags,
.qa-part-nav-list-categories {
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
}
.qa-part-ranking-users h2, .qa-part-ranking-tags h2, .qa-part-nav-list-categories h2 {
	margin: -10px -10px 5px -10px;
}

.qa-favorite-image {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #ecf0f1 url('images/favorite-icon-15x15.png');
}

.qa-suggest-next {
	padding: 10px;
	margin-bottom: 5px;
	background: #3498db;
	color: #fff;
}
.qa-suggest-next a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-suggest-next a:hover {
	color: #fff;
	border-bottom: 0;
}

/*------[ q-view ]------*/
.qa-form-light-button {
	-webkit-appearance: none;
	display: block;
	float: right;
	margin: 0 0 0 5px;
	padding: 10px 15px;
	border: 0;
	font-size: 14px;
	background: #2c3e50 none center no-repeat;
	color: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	text-indent: -9999px;
}
.qa-form-light-button:hover, .qa-form-light-button:focus {
	background-color: #476481;
	border: 0;
	outline: 0;
}
.qa-form-light-button a, .qa-form-light-button a:hover {
	color: #fff;
}

.qa-form-light-button-edit, .qa-form-light-button-retagcat {
	background-image: url('images/icons/edit-white.png');
}
.qa-form-light-button-flag {
	background-image: url('images/icons/flag-white.png');
}
.qa-form-light-button-unflag {
	background-color: #812b2b;
	background-image: url('images/icons/flag-white.png');
}
.qa-form-light-button-clearflags {
	background-image: url('images/icons/un-flag-white.png');
}
.qa-form-light-button-hide {
	background-image: url('images/icons/hide-white.png');
}
.qa-form-light-button-follow {
	background-image: url('images/icons/link-white.png');
}
.qa-form-light-button-reshow {
	background-image: url('images/icons/show-white.png');
}
.qa-form-light-button-claim {
	background-image: url('images/icons/claim-white.png');
}
.qa-form-light-button-delete {
	background-image: url('images/icons/delete-white.png');
}
.qa-form-light-button-approve {
	background-image: url('images/icons/approve-white.png');
	padding-left: 18px;
}
.qa-form-light-button-reject {
	background-image: url('images/icons/rejected-white.png');
}
.qa-form-light-button-close {
	background-image: url('images/icons/close-white.png');
}
.qa-form-light-button-reopen {
	background-image: url('images/icons/open-white.png');
}
.qa-form-light-button-block {
	background-image: url('images/icons/rejected-white.png');
}
.qa-form-light-button-reply {
	background-image: url('images/icons/reply-white.png');
}

.qa-form-light-button-answer {
	background-image: #27ae60;
	background-image: url('images/icons/answer-white.png');
	float: left;
	margin: 0 5px 0 0;
}
.qa-form-light-button-answer:hover, .qa-form-light-button-answer:focus {
	background-color: #2ecc71;
}

.qa-form-light-button-comment {
	background-image: url('images/icons/comment-white.png');
	float: left;
	margin: 0;
}

.qa-form-light-button-answer,
.qa-form-light-button-comment,
.qa-form-light-button-claim {
	width: auto;
	padding: 0 10px 0 30px;
	background-position: 8px center;
	font-size: 13px;
	line-height: 32px;
	text-indent: 0;
}
.qa-form-light-button-answer:hover, .qa-form-light-button-answer:focus,
.qa-form-light-button-comment:hover, .qa-form-light-button-comment:focus,
.qa-form-light-button-claim:hover, .qa-form-light-button-claim:focus {
	background-position: 8px center;
}

.qa-q-view-stats {
	float: left;
}
@media (max-width: 979px) {
	.qa-q-view-stats, .qa-voting {
		margin-bottom: 5px;
	}
}

.qa-view-count {
	font-size: 12px;
	text-align: center;
	clear: both;
	float: left;
	width: 100%;
	height: auto;
	margin: 6px 0 -4px;
	word-break: break-word;
}

.qa-view-count-data {
}

.qa-view-count-pad {
}

.qam-q-view-close-icon {
	background-color: #f1c40f;
	padding: 4px;
	border-radius: 24px;
	float: left;
	margin: 8px 10px 0 0;
}

.qa-q-view {
	background: #fff;
	padding-bottom: 20px;
}

.qa-part-q-view {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
	position: relative;
}

.qa-q-view-avatar-meta {
	font-size: 12px;
	display: block;
	margin-bottom: 20px;
}

.qa-q-view-avatar {
	float: right;
}

.qa-q-view-meta {
	border-bottom: 1px solid #bdc3c7;
	display: block;
}
@media (max-width: 979px) {
	.qa-q-view-meta {
		clear: left;
	}
	.qa-q-view-main {
		width: 100%;
	}
}
@media (min-width: 980px) {
	.qa-q-view-main {
		float: left;
		margin: 0 0 0 20px;
		width: 86%;
	}
}

.qa-q-view-tags {
	margin-top: 20px;
}

.qa-q-view-buttons {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #dee1e3;
}
.qa-q-view-buttons .qa-waiting {
	float: right;
	margin: 9px 0 0 5px;
}

.qa-q-view-closed {
	position: relative;
	background-color: #ecf0f1;
	padding: 10px 10px 10px 54px;
	margin: 10px 0;
	font-size: 0.75em;
	line-height: 2em;
	font-weight: bold;
}
.qa-q-view-closed:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #bdc3c7;
	width: 44px;
	text-align: center;
	display: block;
	content: url('images/icons/closed-note.png');
}
.qa-q-view-closed:hover {
	padding: 10px 10px 10px 54px;
	margin-bottom: 5px;
	background: #e74c3c;
	color: #fff;
	cursor: help;
}
.qa-q-view-closed:hover a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-q-view-closed:hover a:hover {
	color: #fff;
	border-bottom: 0;
}
.qa-q-view-closed:hover:before {
	background-color: #c0392b;
	content: url('images/icons/closed-note-white.png');
}

.qa-q-view-closed-content {
	font-weight: normal !important;
}

.qa-q-view-extra {
	font-size: 14px;
	margin: 10px 0;
}
.qa-q-view-extra-content {
	font-weight: bold;
}

.qa-part-form-q-edit {
	padding: 20px;
	background: #fff;
	position: relative;
}

.qa-part-form-q-edit + .qa-q-view .qa-q-view-avatar-meta {
	margin: 0;
}
.qa-part-form-q-edit + .qa-q-view .qa-q-view-meta {
	border: 0;
}
.qa-part-form-q-edit + .qa-q-view .qa-q-view-c-list {
	margin-left: 10px;
}

.qa-main-hidden, .qa-a-list-item-hidden, .qa-c-item-hidden {
	opacity: 0.6;
}

.qa-q-item-flags, .qa-q-view-flags, .qa-a-item-flags, .qa-c-item-flags {
	color: #e74c3c;
	font-weight: bold;
	padding-left: 4px;
}


/*------[ a-list ]------*/
.qa-part-a-form {
	padding: 20px;
	background: #fff;
	margin-bottom: 5px;
}
.qa-part-a-form:empty,
.qa-part-a-form h2 {
	margin-top: 0;
}

#a_list_title {
	padding: 10px 20px;
	margin-bottom: 5px;
	background: #2ecc71;
	color: #fff;
	margin-top: 0;
}
#a_list_title a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
#a_list_title a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-a-list-item {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
	position: relative;
	min-height: 190px;
}
/* highlight selected answer */
.qa-a-list-item:target{
    -webkit-animation: answer-highlight 2s ease-in-out;
    animation: answer-highlight 2s ease-in-out;
}

.qa-a-item-avatar-meta {
	font-size: 12px;
	display: block;
	margin-bottom: 20px;
}

.qa-a-item-avatar {
	float: right;
}

.qa-a-item-meta {
	border-bottom: 1px solid #bdc3c7;
	display: block;
}

.qa-a-item-buttons {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #dee1e3;
}
.qa-a-item-buttons .qa-waiting {
	float: right;
	margin: 9px 0 0 5px;
}

.qa-a-selection {
	position: absolute;
}

@media (max-width: 799px) {
	.qa-a-item-avatar-meta {
		margin-top: 10px;
	}
}

@media (min-width: 800px) and (max-width: 979px) {
	.qa-a-item-avatar-meta {
		margin-top: 70px;
	}
}

@media (max-width: 979px) {
	.qa-a-item-main {
		width: 100%;
	}

	.qa-a-item-meta {
		clear: left;
		font-size: 0.875em;
		line-height: 1.71429em;
	}

	.qa-a-selection {
		left: 100px;
		top: 20px;
	}
}
@media (min-width: 980px) {
	.qa-a-item-main {
		float: right;
		margin: 0 0 0 20px;
		width: 86%;
	}

	.qa-a-selection {
		left: 20px;
		top: 100px;
	}
}
.qa-a-selection .qa-waiting {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -7px;
}

.qa-a-select-button, .qa-a-unselect-button, .qa-a-selected {
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	display: block;
	margin: 0;
	position: relative;
	background: url('images/answer-select.png') no-repeat center;
	transition: background-color 0.5s;
}

.qa-a-select-button {
	background-color: #bdc3c7;
}
.qa-a-select-button:hover, .qa-a-select-button:focus {
	background-color: #27ae60;
}

.qa-a-unselect-button {
	background-color: #27ae60;
}
.qa-a-unselect-button:hover, .qa-a-unselect-button:focus {
	background-color: #bdc3c7;
}

.qa-a-selected {
	background-color: #27ae60;
}

@media (max-width: 979px) {
	.qa-a-selected-text {
		display: none;
	}
}
@media (min-width: 980px) {
	.qa-a-selected-text {
		font-size: 10px;
		color: #27ae60;
		display: block;
		line-height: normal;
		text-align: center;
	}
}

.answer-selected, .qa-a-list-item-selected {
	border: 1px solid #27ae60;
}

/*------[ c-list ]------*/
.qa-q-view-c-list, .qa-a-item-c-list {
	margin-top: 20px;
	font-size: 14px;
}

.qa-c-list-item {
	position: relative;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #f4f4f4;
}
/* highlight selected comment */
.qa-c-list-item:target {
    -webkit-animation: comment-highlight 2s ease-in-out;
    animation: comment-highlight 2s ease-in-out;
}

/* voting styles for comments */
.qa-c-list-item .qa-voting {
	width: auto;
	height: auto;
	background-color: transparent;
}
.qa-c-list-item .qa-vote-buttons {
	height: 22px;
	width: 12px;
	margin-right: 4px;
}
.qa-c-list-item .qa-vote-count {
	float: left;
	min-width: 16px;
	margin-right: 8px;
}
.qa-c-list-item .qa-netvote-count {
	text-align: left;
}
.qa-c-list-item .qa-netvote-count-data {
	font-size: 13px;
	line-height: 18px;
}

.qa-c-list-item .qa-upvote-count {
	line-height: 6px;
}
.qa-c-list-item .qa-downvote-count {
	line-height: 14px;
}
.qa-c-list-item .qa-upvote-count-data,
.qa-c-list-item .qa-downvote-count-data {
	font-size: 13px;
	font-weight: normal;
}

.qa-c-list-item .qa-vote-up-button,
.qa-c-list-item .qa-vote-down-button,
.qa-c-list-item .qa-voted-up-button,
.qa-c-list-item .qa-voted-down-button,
.qa-c-list-item .qa-vote-up-disabled,
.qa-c-list-item .qa-vote-down-disabled {
	width: 12px;
	height: 8px;
	left: 0;
}
.qa-c-list-item .qa-vote-first-button {
	top: 0;
}
.qa-c-list-item .qa-vote-second-button {
	top: 12px;
}
.qa-c-list-item .qa-vote-one-button {
	top: 6px;
}

.qa-c-list-item .qa-vote-up-button {
	background-position: -32px 0;
}
.qa-c-list-item .qa-vote-up-button:hover,
.qa-c-list-item .qa-vote-up-button:focus,
.qa-c-list-item .qa-vote-up-button:active {
	background-position: -32px -8px;
}
.qa-c-list-item .qa-vote-down-button {
	background-position: -44px 0;
}
.qa-c-list-item .qa-vote-down-button:hover,
.qa-c-list-item .qa-vote-down-button:focus,
.qa-c-list-item .qa-vote-down-button:active {
	background-position: -44px -8px;
}
.qa-c-list-item .qa-vote-up-disabled {
	background-position: -32px -16px;
}
.qa-c-list-item .qa-vote-up-disabled:hover,
.qa-c-list-item .qa-vote-up-disabled:focus,
.qa-c-list-item .qa-vote-up-disabled:active {
	background-position: -32px -16px;
}
.qa-c-list-item .qa-vote-down-disabled {
	background-position: -44px -16px;
}
.qa-c-list-item .qa-vote-down-disabled:hover,
.qa-c-list-item .qa-vote-down-disabled:focus,
.qa-c-list-item .qa-vote-down-disabled:active {
	background-position: -44px -16px;
}
.qa-c-list-item .qa-voted-up-button {
	background-position: -32px -8px;
}
.qa-c-list-item .qa-voted-up-button:hover,
.qa-c-list-item .qa-voted-up-button:focus,
.qa-c-list-item .qa-voted-up-button:active {
	background-position: -32px 0;
}
.qa-c-list-item .qa-voted-down-button {
	background-position: -44px -8px;
}
.qa-c-list-item .qa-voted-down-button:hover,
.qa-c-list-item .qa-voted-down-button:focus,
.qa-c-list-item .qa-voted-down-button:active {
	background-position: -44px 0;
}


.qa-c-list-item .qa-form-light-button {
	padding: 10px 15px;
	background: #bdc3c7 none center no-repeat;
	color: #34495e;
	width: 24px;
	height: 24px;
	text-align: center;
	text-indent: -9999px;
}
.qa-c-list-item .qa-form-light-button:hover, .qa-c-list-item .qa-form-light-button:focus {
	background-color: #d6dadb;
}
.qa-c-list-item .qa-form-light-button a, .qa-c-list-item .qa-form-light-button a:hover {
	color: #34495e;
}
.qa-c-list-item .qa-form-light-button-comment {
	background-image: url('images/icons/comment.png');
	float: left;
	margin: 0;
}
.qa-c-list-item .qa-form-light-button-edit, .qa-c-list-item .qa-form-light-button-retagcat {
	background-image: url('images/icons/edit.png');
}
.qa-c-list-item .qa-form-light-button-flag {
	background-image: url('images/icons/flag.png');
}
.qa-c-list-item .qa-form-light-button-unflag {
	background-color: #e4afaf;
	background-image: url('images/icons/flag.png');
}
.qa-c-list-item .qa-form-light-button-clearflags {
	background-image: url('images/icons/un-flag.png');
}
.qa-c-list-item .qa-form-light-button-hide {
	background-image: url('images/icons/hide.png');
}
.qa-c-list-item .qa-form-light-button-follow {
	background-image: url('images/icons/link.png');
}
.qa-c-list-item .qa-form-light-button-reshow {
	background-image: url('images/icons/show.png');
}
.qa-c-list-item .qa-form-light-button-claim {
	background-image: url('images/icons/claim.png');
}
.qa-c-list-item .qa-form-light-button-delete {
	background-image: url('images/icons/delete.png');
}
.qa-c-list-item .qa-form-light-button-approve {
	background-image: url('images/icons/approve.png');
	padding-left: 18px;
}
.qa-c-list-item .qa-form-light-button-reject {
	background-image: url('images/icons/rejected.png');
}
.qa-c-list-item .qa-form-light-button-close {
	background-image: url('images/icons/close.png');
}
.qa-c-list-item .qa-form-light-button-reopen {
	background-image: url('images/icons/open.png');
}

.qa-c-item-avatar-meta {
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
}

.qa-c-item-avatar {
	position: absolute;
	right: 10px;
	top: 10px;
}

.qa-c-item-meta {
	border-bottom: 1px solid #d6dadb;
	display: block;
}
@media (max-width: 767px) {
	.qa-c-item-meta {
		font-size: 0.875em;
		line-height: 1.71429em;
		padding-right: 24px;
		min-height: 2.3em;
	}
}

.qa-c-item-content {
	font-size: 14px;
}

.qa-c-item-buttons {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #d6dadb;
}
.qa-c-item-buttons .qa-waiting {
	float: right;
	margin: 9px 0 0 5px;
}

.qa-c-form h2 {
	margin-bottom: 0;
}

.qa-widget-main h2:first-of-type {
	padding: 10px;
	background: #9b59b6;
	color: #fff;
	margin: 0 0 5px 0;
}
.qa-widget-main h2:first-of-type a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-widget-main h2:first-of-type a:hover {
	color: #fff;
	border-bottom: 0;
}

/*------[ sidebar ]------*/
#qam-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9;
	box-shadow: 0 0 300px 50px rgba(0, 0, 0, 0.3) inset;
	display: none;
}

#qam-sidepanel-toggle {
	display: none;
}

@media (min-width: 980px) {
	.qa-sidepanel {
		width: 25%;
		padding: 0;
		float: right;
		*zoom: 1;
	}
}

@media (max-width: 979px) {
	#qam-sidepanel-toggle {
		display: block;
		position: fixed;
		bottom: 10px;
		right: 0;
		text-align: center;
		font-size: 24px;
		background: #9b59b6;
		cursor: pointer;
		transition: all 0.15s ease;
		color: #95a5a6;
		opacity: 0.5;
		z-index: 999;
	}
	#qam-sidepanel-toggle.active {
		opacity: 1;
		color: #34495e;
		right: 280px;
		box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.5);
	}
	#qam-sidepanel-toggle [class^="icon-"]:before, #qam-sidepanel-toggle [class*=" icon-"]:before {
		line-height: 40px;
		width: 30px;
		height: 40px;
		text-align: center;
		color: #fff;
	}

	.qa-sidepanel {
		width: 280px;
		height: 100%;
		position: fixed;
		right: -280px;
		top: 0;
		overflow-y: auto;
		z-index: 99999;
		background: #fff;
		transition: all 0.15s ease;
		box-shadow: 0 0 0 0 transparent;
	}
	.qa-sidepanel.open {
		right: 0 !important;
		transition: all 0.15s ease;
		box-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.5);
	}
}


.stick {
	top: 10px !important;
	transition: all 0.15s ease;
}

.qa-sidepanel {
	word-wrap: break-word;
}
.qa-sidepanel h1, .qa-sidepanel h2, .qa-sidepanel h3, .qa-sidepanel h4, .qa-sidepanel h5, .qa-sidepanel h6 {
	margin-top: 0;
}
.qa-sidepanel .qa-widget-side {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}

.qa-sidebar {
	padding: 20px;
	margin-bottom: 5px;
	background: #34495e;
	color: #fff;
}
.qa-sidebar a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	font-weight: bold;
}
.qa-sidebar a:hover {
	color: #fff;
	border-bottom: 0;
	text-decoration: none;
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #fff;
}

.qa-sidebar.orange {
	background: #f39c12;
}
.qa-sidebar.carrot {
	background: #e67e22;
}
.qa-sidebar.alizarin {
	background: #e74c3c;
}
.qa-sidebar.turquoise {
	background: #1abc9c;
}
.qa-sidebar.emerald {
	background: #2ecc71;
}
.qa-sidebar.peter-river {
	background: #3498db;
}
.qa-sidebar.amethyst {
	background: #9b59b6;
}
.qa-sidebar.wet-asphalt {
	background: #34495e;
}

.qa-activity-count {
	margin: -20px;
	text-align: center;
	overflow: hidden;
	*zoom: 1;
}

.qa-activity-count-item {
	width: 50%;
	margin: 0;
	padding-bottom: 10px;
	color: #fff;
	float: left;
	text-transform: uppercase;
	position: relative;
}
.qa-activity-count-item:before {
	font-family: "fontello";
	display: inline-block;
	font-size: 32px;
	text-align: center;
	margin-bottom: 5px;
	position: absolute;
	top: 5px;
	left: 10px;
	opacity: 0.2;
}
.qa-activity-count-item:hover {
	cursor: help;
}
.qa-activity-count-item:hover:before {
	opacity: 1;
	-webkit-animation: shake 0.25s;
	animation: shake 0.25s;
}
.qa-activity-count-item:nth-child(1) {
	background: #1abc9c;
}
.qa-activity-count-item:nth-child(1):before {
	content: '\e801';
}
.qa-activity-count-item:nth-child(2) {
	background: #2ecc71;
}
.qa-activity-count-item:nth-child(2):before {
	content: '\e802';
}
.qa-activity-count-item:nth-child(3) {
	background: #f1c40f;
}
.qa-activity-count-item:nth-child(3):before {
	content: '\e800';
}
.qa-activity-count-item:nth-child(4) {
	background: #e67e22;
}
.qa-activity-count-item:nth-child(4):before {
	content: '\e809';
}

.qa-activity-count-data {
	padding: 10px 10px 0 10px;
	font-size: 2em;
	line-height: 1.5em;
	display: block;
}

.qa-related-q-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qa-related-q-item a {
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid #e0e0e0;
}
.qa-related-q-item:first-child a {
	padding-top: 0;
}
.qa-related-q-item:last-child a {
	padding-bottom: 0;
	border-bottom: 0;
}

.qa-nav-cat {
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}

.qa-nav-cat-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.qa-nav-cat-list .qa-nav-cat-list {
	margin-left: 20px;
}

.qa-nav-cat-item {
	padding: 2px 0;
	display: block;
	border-bottom: 1px solid #e0e0e0;
}
.qa-nav-cat-item:last-child {
	border-bottom: none;
}

.qa-nav-cat-link.qa-nav-cat-favorited {
	position: relative;
	padding-left: 20px;
}
.qa-nav-cat-link.qa-nav-cat-favorited:before {
	position: absolute;
	top: 2px;
	left: 0;
	width: 17px;
	height: 100%;
	display: block;
	content: url('images/favorite-icon-15x15.png');
}

.qa-nav-cat-note {
	color: #7f8c8d;
	float: right;
	font-size: 12px;
}

.qa-feed {
	font-size: 13px;
	padding: 20px;
	margin-bottom: 5px;
	background: #fff;
}

.qa-feed-link {
	line-height: 32px;
}
.qa-feed-link:before {
	font-family: "fontello";
	font-size: 20px;
	content: '\e81c';
	display: inline-block;
	float: left;
	margin-right: 8px;
}

/*------[ footer ]------*/
.qam-footer-box {
	padding: 0;
	background: #34495e;
	color: #fff;
	overflow: hidden;
	margin: 0;
}
.qam-footer-box a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qam-footer-box a:hover {
	color: #fff;
	border-bottom: 0;
}

.qam-footer-row a, .qam-footer-row a:visited {
	display: block;
	font-weight: normal;
	border: none;
	color: rgba(255, 255, 255, 0.75);
}
.qam-footer-row a:hover, .qam-footer-row a:focus, .qam-footer-row a:active, .qam-footer-row a:visited:hover, .qam-footer-row a:visited:focus, .qam-footer-row a:visited:active {
	font-weight: normal;
	border: none;
}

.qam-footer-col-heading {
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
	margin-top: 0;
}

@media (max-width: 979px) {
	.qam-footer-col {
		width: 100%;
		padding: 10px;
	}
}
@media (min-width: 980px) {
	.qam-footer-row {
		width: 100%;
	}

	.qam-footer-col {
		width: 25%;
		float: left;
		padding: 1%;
	}
	.qam-footer-col:first-child {
		padding-left: 0;
	}
	.qam-footer-col:last-child {
		padding-right: 0;
	}
}
@media (min-width: 1024px) {
	.qam-footer-row {
		width: 1024px;
		margin: 0 auto;
	}
}

.qa-footer {
	padding: 10px;
	background: #2c3e50;
	color: #fff;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 12px;
}
.qa-footer a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-footer a:hover {
	color: #fff;
	border-bottom: 0;
}

.qa-nav-footer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-nav-footer-item {
	float: left;
	padding: 0 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.qa-nav-footer-item:last-child {
	border-right: 0;
}

.qa-nav-footer-link {
	display: block;
	font-weight: normal;
}

@media (max-width: 479px) {
	.qa-nav-footer {
		display: block;
		margin-bottom: 5px;
	}

	.qa-attribution {
		display: block;
	}
}
@media (min-width: 480px) {
	.qa-nav-footer {
		float: left;
	}

	.qa-attribution {
		float: right;
		display: block;
		padding: 0 10px;
		border-right: 1px solid rgba(255, 255, 255, 0.5);
	}
	.qa-attribution:nth-child(2) {
		border-right: 0;
	}
}

.qa-ask-box {
	padding: 10px 20px;
	margin-bottom: 5px;
	background: #3498db;
	color: #fff;
}
.qa-ask-box a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.qa-ask-box a:hover {
	color: #fff;
	border-bottom: 0;
}
.qa-ask-box form {
	margin: 0;
}
.qa-ask-box .qa-form-tall-label {
	color: #fff;
}
.qa-ask-box .qa-form-tall-text {
	width: 100% !important;
	margin: 0 !important;
}

@media (max-width: 979px) {
	.qam-ask-search-box {
		padding: 10px 10px 0 10px;
		display: table;
		width: 100%;
	}

	.qam-ask-mobile {
		display: table-cell;
	}
	.qam-ask-mobile a {
		padding: 20px;
		background: #1abc9c;
		color: #fff;
		text-align: center;
		font-size: 24px;
		display: block;
		border: none;
		font-weight: normal;
		margin: 0;
	}
	.qam-ask-mobile a a {
		color: #fff;
		border-bottom: 1px dotted #fff;
	}
	.qam-ask-mobile a a:hover {
		color: #fff;
		border-bottom: 0;
	}
	.qam-ask-mobile a:hover, .qam-ask-mobile a:focus {
		font-weight: normal;
		border: none;
		text-decoration: none;
	}
	.qam-ask-mobile a.orange {
		background-color: #ea940c;
	}
	.qam-ask-mobile a.carrot {
		background-color: #df7619;
	}
	.qam-ask-mobile a.alizarin {
		background-color: #e53f2e;
	}
	.qam-ask-mobile a.turquoise {
		background-color: #18af91;
	}
	.qam-ask-mobile a.emerald {
		background-color: #2bc06a;
	}
	.qam-ask-mobile a.peter-river {
		background-color: #2791d9;
	}
	.qam-ask-mobile a.amethyst {
		background-color: #954eb1;
	}
	.qam-ask-mobile a.wet-asphalt {
		background-color: #2f4154;
	}

	.qam-search-mobile {
		background: #1abc9c url('images/icons/search-mobile.png') no-repeat center;
		width: 64px;
		display: table-cell;
		border-left: 1px solid #1dd2af;
		cursor: pointer;
	}
	.qam-search-mobile.active {
		background-image: url('images/icons/search-mobile-collaps.png');
	}
	.qam-search-mobile.orange {
		background-color: #ea940c;
		border-left-color: #f4a62a;
	}
	.qam-search-mobile.orange.active {
		background-color: #f39c12;
	}
	.qam-search-mobile.carrot {
		background-color: #df7619;
		border-left-color: #e98b39;
	}
	.qam-search-mobile.carrot.active {
		background-color: #e67e22;
	}
	.qam-search-mobile.alizarin {
		background-color: #e53f2e;
		border-left-color: #ea6153;
	}
	.qam-search-mobile.alizarin.active {
		background-color: #e74c3c;
	}
	.qam-search-mobile.turquoise {
		background-color: #18af91;
		border-left-color: #1dd2af;
	}
	.qam-search-mobile.turquoise.active {
		background-color: #1abc9c;
	}
	.qam-search-mobile.emerald {
		background-color: #2bc06a;
		border-left-color: #40d47e;
	}
	.qam-search-mobile.emerald.active {
		background-color: #2ecc71;
	}
	.qam-search-mobile.peter-river {
		background-color: #2791d9;
		border-left-color: #4aa3df;
	}
	.qam-search-mobile.peter-river.active {
		background-color: #3498db;
	}
	.qam-search-mobile.amethyst {
		background-color: #954eb1;
		border-left-color: #a66bbe;
	}
	.qam-search-mobile.amethyst.active {
		background-color: #9b59b6;
	}
	.qam-search-mobile.wet-asphalt {
		background-color: #2f4154;
		border-left-color: #3d566e;
	}
	.qam-search-mobile.wet-asphalt.active {
		background-color: #34495e;
	}
}

@media (min-width: 980px) {
	.qam-ask-search-box {
		display: none;
	}
}

@-webkit-keyframes shake {
	0% { transform: scale(1); }
	17% { transform: scale(1.5); }
	34% { transform: scale(0.8); }
	51% { transform: scale(1.1); }
	68% { transform: scale(0.9); }
	85% { transform: scale(1.05); }
	100% { transform: scale(1); }
}
@keyframes shake {
	0% { transform: scale(1); }
	17% { transform: scale(1.5); }
	34% { transform: scale(0.8); }
	51% { transform: scale(1.1); }
	68% { transform: scale(0.9); }
	85% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

@-webkit-keyframes answer-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #fff; }
}
@keyframes answer-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #fff; }
}

@-webkit-keyframes comment-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #f4f4f4; }
}
@keyframes comment-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #f4f4f4; }
}


/*------[ icons ]------*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chat:before { content: '\e800'; }
.icon-help:before { content: '\e801'; }
.icon-comment:before { content: '\e802'; }
.icon-comment-alt:before { content: '\e803'; }
.icon-chart-line:before { content: '\e804'; }
.icon-coffee:before { content: '\e805'; }
.icon-tag:before { content: '\e806'; }
.icon-tags:before { content: '\e807'; }
.icon-spread:before { content: '\e808'; }
.icon-group:before { content: '\e809'; }
.icon-wrench:before { content: '\e80a'; }
.icon-article:before { content: '\e80b'; }
.icon-docs:before { content: '\e80c'; }
.icon-infinity:before { content: '\e80d'; }
.icon-user:before { content: '\e80e'; }
.icon-key:before { content: '\e80f'; }
.icon-money:before { content: '\e810'; }
.icon-wallet:before { content: '\e811'; }
.icon-arrows-cw:before { content: '\e812'; }
.icon-th-list:before { content: '\e813'; }
.icon-left-open-big:before { content: '\e814'; }
.icon-right-open-big:before { content: '\e815'; }
.icon-down-open-big:before { content: '\e816'; }
.icon-up-open-big:before { content: '\e817'; }
.icon-down-open-mini:before { content: '\e818'; }
.icon-up-open-mini:before { content: '\e819'; }
.icon-right-open-mini:before { content: '\e81a'; }
.icon-left-open-mini:before { content: '\e81b'; }
.icon-rss:before { content: '\e81c'; }
.icon-facebook:before { content: '\e81d'; }
.icon-twitter:before { content: '\e81e'; }
.icon-twitter-bird:before { content: '\e81f'; }
.icon-googleplus:before { content: '\e820'; }
.icon-ok:before { content: '\e821'; }
.icon-ok-circled:before { content: '\e822'; }
.icon-reply:before { content: '\e823'; }
.icon-power:before { content: '\e824'; }
.icon-link:before { content: '\e825'; }
